name: Release

on:
    push:
        branches:
            - main

concurrency:
    group: ${{github.workflow}}-${{github.ref}}
    cancel-in-progress: true

jobs:
    build:
        uses: ./.github/workflows/build.yml

    lint:
        uses: ./.github/workflows/lint.yml
        needs: build

    test:
        uses: ./.github/workflows/test.yml
        needs: lint

    test-integration:
        uses: ./.github/workflows/test-integration.yml
        needs: lint

    release:
        name: Version
        needs: [test, test-integration]
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        outputs:
            should-publish: ${{steps.changesets.outputs.hasChangesets == 'false'}}
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup environment
              uses: ./.github/actions/setup

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build
              run: pnpm build

            - name: Create Release PR
              id: changesets
              uses: changesets/action@v1
              with:
                  version: pnpm changeset:version
                  title: "chore: version packages"
                  commit: "chore: version packages"
              env:
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    publish:
        name: Publish to npm
        needs: release
        if: needs.release.outputs.should-publish == 'true'
        uses: ./.github/workflows/publish.yml
        with:
            release-type: release
        permissions:
            contents: write
            id-token: write
